<p>update-restaurent works!</p>

<div class="col-md-9 m-3">
    <div class="h-100 p-5 text-bg-light border rounded-3">
        <h2 class="text-center"> Edit & Upadte Restaurents Form</h2>
    </div>
</div>


<!-- Alert box -->
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show col-sm-8" role="alert">
    <strong>Success !</strong> Your data Updated successfully !.
    <button  (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- Form  -->
<form [formGroup]="editRestaurent" (ngSubmit)="updateResto()">
    <div class="col-sm-4">
        <label class="form-label"> Name </label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="Name">
    </div>
    <div class="col-sm-4">
        <label class="form-label"> Address </label>
        <input type="text" class="form-control" placeholder="Enter Address" formControlName="Address">
    </div>
    <div class="col-sm-4">
        <label class="form-label"> Mobile </label>
        <input type="text" class="form-control" placeholder="Enter Mobile" formControlName="Mobile">
    </div>
    <div class="col-sm-4">
        <label class="form-label"> Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" formControlName="Email">
    </div>

    <button type="submit" class="btn btn-primary m-3">Update </button>
</form>